<div>
  <app-category (categorySelected)="onCategorySelected($event)"></app-category>

  <div class="products">
    @for (product of products; track product.name) {
      @if (product.category === selectedCategory) {
        <app-product-card 
          [product]="product" 
          (toggleSelect)="onToggleProduct($event)">
        </app-product-card>
      }
    }
  </div>

  <button (click)="generateRecipe()" [disabled]="loading">
    @if (loading) {
      Generating Recipe...
    } @else {
      Generate Recipe
    }
  </button>

  <app-quickly-recipe [recipe]="recipeResponse"></app-quickly-recipe>
</div>